# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Distribution/packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Windows system files
Thumbs.db
Desktop.ini

# macOS system files
.DS_Store

# Editor directories and files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test results
test-results/
*.log
